<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IDemoService">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://demoservicewcf.azurewebsites.net/DemoService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IDemoService"
                contract="Bar.IDemoService" name="CustomBinding_IDemoService" />
        </client>
    </system.serviceModel>
</configuration>