<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <!-- basicHttpBinding / webBinding don't place nicely with load-balanced Azure services. We need to disable keep-alive. http://blog.tonysneed.com/2012/06/18/building-scalable-and-secure-wcf-services/ -->
      <customBinding>
        <binding name="soap-secure-nokeepalive">
          <binaryMessageEncoding/>
          <httpsTransport allowCookies="false" keepAliveEnabled="false" transferMode="Streamed" maxBufferSize="10000000" maxReceivedMessageSize="10000000" maxBufferPoolSize="10000000"/>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="Foo.DemoService" behaviorConfiguration="ServiceBehaviour">
        <endpoint binding="customBinding" bindingConfiguration="soap-secure-nokeepalive" contract="Foo.IDemoService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>